@font-face {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    src: url('../fonts/Poppins-Bold.woff2') format('woff2'),
        url('../fonts/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-BlackItalic.woff2') format('woff2'),
        url('../fonts/Poppins-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Black.woff2') format('woff2'),
        url('../fonts/Poppins-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Light.woff2') format('woff2'),
        url('../fonts/Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.woff2') format('woff2'),
        url('../fonts/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-BoldItalic.woff2') format('woff2'),
        url('../fonts/Poppins-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-LightItalic.woff2') format('woff2'),
        url('../fonts/Poppins-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-ExtraBold.woff2') format('woff2'),
        url('../fonts/Poppins-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/Poppins-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/Poppins-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Italic.woff2') format('woff2'),
        url('../fonts/Poppins-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-ExtraLight.woff2') format('woff2'),
        url('../fonts/Poppins-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-ThinItalic.woff2') format('woff2'),
        url('../fonts/Poppins-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Thin.woff2') format('woff2'),
        url('../fonts/Poppins-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
        url('../fonts/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/Poppins-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.woff2') format('woff2'),
        url('../fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-MediumItalic.woff2') format('woff2'),
        url('../fonts/Poppins-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

:root {
    --primary: #FEBB3A;
    --secondary-color: #172933; 
    --white-color: #fff
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
*:focus{
    outline: none;
}
.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
img{
    width: 100%;
    height: 100%;
}

body h1, .h1{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 70px;
    color: #fff;
}

body.dark h1, .h1{
    color: red;
}

body p{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}
body p:not(:last-child){
    margin-bottom: 14px;
}


body h2{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 75px;
}

body h3{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 75px;
}
body a{
    text-decoration: none;
}
.card-heading{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

body ul:not([class]){
    list-style: none;
}
body ul:not([class]) li:not([class]){
    display: inline-block;
}
.divider{
    width: 59.83px;
    height:4px;
    background-color: var(--primary);
    margin: 24px 0;

}

/* List style */
body ul:not([class]){
    list-style: none;
}
body ul:not([class])> li{
    list-style: none;
    margin: 10px 0;
}

body ul:not([class])> li >a{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    color: #05213B;
    transition: 0.3s all;

}
body ul:not([class])> li >a:hover{
    color: var(--primary);
}
/*------------- Form -------------------*/

form{
    display: flex;
    flex-direction: column;  
    width: 100%;
    margin-top: 20px;
  }
  form input{
      border: none;
      outline: none;
  }
  form input:not(:last-child){
      margin-bottom: 20px;
  }
  form input[type=search]{
    padding: 15px 13px;
    background: #F5F5F5;
    outline: none;
    border: none;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #C2C2C2;
    box-shadow: 0px -2px 1px 0px rgb(0 0 0 / 26%);
    border-radius: 10px;
  }
  form input[type=search]::placeholder{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #C2C2C2;
  }
  form input[type=submit]{
      cursor: pointer;
  }


/*------------- Buttons -------------------*/
.btn{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
    padding: 18px;
    text-align: center;
    vertical-align: middle;
    background-color: var(--primary);
    border-radius: 5px;
    transition: 0.3s all;
}
.btn:hover{
    background-color: var(--secondary-color);
    color: var(--white-color);
}

.btn-card{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #172933;
    position: relative;
    margin-left: 40px;
    transition: 0.3s all;
    cursor: pointer;
}
.btn-card::before{
    content: url('../images/card-btn-arrow.svg');
    width: 30px;
    height: 30px;
    position: absolute;
    left: -38px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s all;
}
.btn-card:hover{
    color: var(--primary);
}
.btn-card:hover::before{
    left: -35px;
}

/* Video btn */

.btn-video{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #172933;
    position: relative;
    margin-left: 40px;
    transition: 0.3s all;
    cursor: pointer;
}
.btn-video::before{
    content: url('../images/btn-video-icon.svg');
    width: 30px;
    height: 30px;
    position: absolute;
    left: -38px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s all;
}
.btn-video:hover{
    color: var(--primary);
}
.btn-video:hover::before{
    left: -35px;
}

/* Video blackbtn */

.btn-black-video{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #172933;
    position: relative;
    margin-left: 40px;
    transition: 0.3s all;
    cursor: pointer;
}
.btn-black-video::before{
    content: url('../images/video-black-icon.svg');
    width: 30px;
    height: 30px;
    position: absolute;
    left: -38px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s all;
}
.btn-black-video:hover{
    color: var(--primary);
}
.btn-black-video:hover::before{
    left: -35px;
}
.cta-btn:hover{
    background-color: aliceblue;
    color: #000000;

}
.btn-border{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #030303;
    border: 2px solid #F7AC1B;
    border-radius: 5px;
    background-color: #FFFFFF;
    text-align: center;
}


/*------------- table ----------------*/
table{
    min-width: 100%;
    border-collapse: collapse;
    /* border: 1px solid #E1E7EB;  */
    border-radius: 10px;
}


thead > tr >th, .table-container h2{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #192B35;
    padding: 24px 30px;
    text-align: center;
}

tbody .col-left{
    width: 20%;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #1B2C36;
    padding-left: 36px;
  
}

tbody .col-right{
    /* width: 100%; */
    padding: 0 36px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #1B2C36;
}
table td{
    border-top: 1px solid #E1E7EB;
    border-bottom: 1px solid #E1E7EB;
    padding: 16px 0;
}


@media screen and (max-width:1300px){
    body h2{
        font-size: 40px;
        line-height: 50px;
    }
}

@media screen and (max-width:1024px){
    body h1, .h1{
        font-size: 32px;
        line-height: 41px;
    }
    
}
@media screen and (max-width:820px){
    tbody .col-left{
        width: 30%;
    }
}
@media screen and (max-width:767px){
    body h2{
        font-size: 32px;
        line-height: 48px;
    }
    body p{
        font-size: 18px;
        line-height: 31px;
    }
    tbody .col-left{
        width: 50%;
    }
    tbody .col-right{
        font-size: 14px;
    }
    thead > tr >th, .table-container h2{
        text-align: left;
    }
}
@media screen and (max-width:420px){
    thead > tr >th, .table-container h2{
        padding: 24px 15px;
    }
    tbody .col-left{
        padding-left: 15px;
    }
    tbody .col-right{
        padding: 0 14px;
    }
}
