body{
position: relative;
}
.body-overlay-class{
    position: absolute;
    top: 0px;
    height: 100vh;
    width: 100vw;
    background-color:#ff0c0cd9;
    /* left: 0; */
    height: 100%;
    transition: 0.3s all;
    z-index: 100;
}

.headerFormPopup{
    position: fixed;
    top: 0px;
    height: 100vh;
    width: 100%;
    background-color:#000000a4;
    z-index: 99;
    right: 0;
    height: 100%;
    transition: 0.3s all;
    visibility: hidden;
    /* transform: translateX(0%); */
}
.headerFormPopup-open{
    /* transform: translateX(0%); */
    visibility: visible;

}

/* .headerFormPopup-close{
    transform: translateX(100%);
} */

.form-main-wrapper{
    max-width: 95vw;
    width: 930px;
    height: 100vh;
    background-color: white;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    transform: translateX(100%);
    transition: 0.3s all;
    
}
.form-main-wrapper-open{
    transform: translateX(0%);
}
.form-main-wrapper .form-container{
    max-width: 610px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;

}
.form-main-wrapper .form-container h3, .form-main-wrapper .form-container h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: var(--secondary-color);
}
.form-main-wrapper .form-container h3{
    margin-bottom: 24px;
}
.form-main-wrapper .form-container h2{
    font-size: 36px;
    line-height: 54px;
    max-width: 298px;
    margin-bottom: 6px;
}
.form-main-wrapper .form-container .form-para{
    max-width: 410px;
}
.form-main-wrapper .form-container .form-para p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: var(--secondary-color);
}
.form-main-wrapper .form-container .form-para p:not(:last-child){
    margin-bottom: 15px;
}

.form-field {
    margin-top: 80px;
}
.form-field .inner-form-wrapper{
    width:calc(100% + 18px);
    margin: 0 -9px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.inner-form-wrapper .field-group-row{
    display: flex;
    flex-direction:column;
    width: calc(50% - 18px);
    background-color: #F5F5F5;;
    margin: 0 9px;
    border-top: 1px solid #B8B8B8;
    position: relative;

}
 .form-field .inner-form-wrapper .field-group-row label{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    color: #8D8D8D;
    margin-bottom: 3px;
    position: absolute;
    left: 17px;
    top: 2px;
}


.form-field .inner-form-wrapper .field-group-row{
    margin-bottom: 27px;
}
.form-field .inner-form-wrapper .field-group-row input{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #131313;
    background-color: transparent;
    padding: 20px 17px 8px;
    height: 50px;
    cursor: pointer;
}
.form-field .inner-form-wrapper .field-group-row input[type=date]{
    opacity: 0.5;
    text-transform: uppercase;
}

.form-field .inner-form-wrapper .field-group-row select{
    background-color: transparent;
    border: none;
    height: 50px;
    padding: 20px 15px 8px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #131313;
    opacity: 0.5;
    appearance: none;
    background-image: url('../images/select-arrw.svg');
    background-repeat: no-repeat;
    background-position-x: 97%;
    background-position-y: 15px;
    cursor: pointer;
}

.form-field .inner-form-wrapper .field-group-row input[type = text]::placeholder{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #131313;
}


.form-field .inner-form-wrapper .field-group-row:last-child{
    width: 100%;
}

.form-submit-wrapper{
    margin-top: 50px;
}
.form-submit-wrapper input{
  width: 183px;
}


.form-close-btn{
    border: none;
    outline: none;
    position: absolute;
    right: 40px;
    top:20px;
    background-color: transparent;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: var(--secondary-color);
    padding-right: 50px;
    background: url('../images/form-close-icon.svg') 100% no-repeat;
    min-height: 30px;
    background-size: 30px;
    cursor: pointer;
}






/*Search Mobile*/
.mobile-search-field{
    padding: 0 15px;
    position: absolute;
    top: 0;
    z-index: 104;
    width: 100%;
    display: none;
    transition: 0.3s all;
    background-color: rgba(27, 9, 9, 0);
    margin-top: 0;
    height: 100vh;
    /* display: flex!*/
    /* align-items: center;
    justify-content: space-between; */
}
/* .close-mobile-search{
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    background-image: url('../images/mobile-search-close-icon.svg');
    background-repeat: no-repeat;
    background-position:center;
    background-color: transparent;
} */
.mobile-search-field .mobile-search-form{
    position: relative;
    width: 100%;
}
.mobile-search-field .mobile-search-form input[type=search]{
    padding-right: 20px;
    cursor: pointer;
}

.mobile-search-field .mobile-search-form input[type="search"]::-webkit-search-decoration,
.mobile-search-field .mobile-search-form input[type="search"]::-webkit-search-cancel-button,
.mobile-search-field .mobile-search-form input[type="search"]::-webkit-search-results-button,
.mobile-search-field .mobile-search-form  input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
  background-image: url('../images/search-field-close-icon.svg');
  position: absolute;
  /* border: 1px solid white; */
  right: 5px;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  top: 22px;
  cursor: pointer;
  transition: 0.3s all;

}
.mobile-search-field .mobile-search-form input[type=submit]{
    width: 30px;
    height: 30px;
    background-image: url('../images/mobile-search-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
    top: 18%;
    right: 24px;
    /* transform: translateY(-50%); */
}

.hide{
    display: none!important;
}