
@media screen and (max-width:767px){
    /* Top bar*/
    .topbar-wrapper {
        display: none;
    }




    .Snippgympa-wrapper{
        flex-direction: column;
    }
    .Snippgympa-wrapper .col-left{
        min-height: 240px;
    }
    .Snippgympa-wrapper .col{
        width: 100%;
    }

    .card-section .cards-wrapper{
        width: 100%;
        margin: 0;
    }
    .card-section .cards-wrapper .card{
        width: 100%;
        margin: 0;
    }
    .Snippgympa-wrapper .col-right{
        padding: 50px 15px;
    }


    .round-card-section{
        padding: 40px 0;
    }
    .round-card-section .container{
        flex-direction: column;
    }
    .round-card-section .container .col{
        width: 100%;
    }
    .round-card-section .container .col-right{
    margin-top: 30px;
    padding: 0;
    }

    .video-section{
        padding: 40px 0;
    }
    .video-section .container{
        flex-direction: column-reverse;
    }
    .video-section .container .col{
        width: 100%;
        margin-top: 30px;
    }
    .video-section .container .col-right .right-wrapper-video{
        max-width: 100%;
        grid-template-rows: 50%;
    }
    .video-section .container .col-right .right-wrapper-video .top-img-wrapper{
        border-radius: 100px 100px 0px 0px;
    }
    .video-section .container .col-right .right-wrapper-video .bottom-img-wrapper{
        border-radius: 0px 0px 100px 100px;
    }
    
}