

.Snippgympa-wrapper{
    width: 100%;
    min-height: 450px;
    display:flex;
    background-color: var(--primary);
}
.Snippgympa-wrapper .col{
    width: 50%;
}
.Snippgympa-wrapper .col-left{
    background-image: url('../images/section=-banner.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.Snippgympa-wrapper .col-right{
    display: flex;
    flex-direction: column;
    padding: 30px 20px 30px 100px;
    align-items: flex-start;
    justify-content: center;
    
}
.Snippgympa-wrapper .col-right h2{
    max-width: 655px;
    margin-bottom: 14px;
}
.Snippgympa-wrapper .col-right p{
    max-width: 554px;
    line-height: 26px;
    letter-spacing: 0.1px;
}
.Snippgympa-wrapper .col-right p:not(:first-child){
    margin-top: 15px;
}

/* <!------------------ card section --------------------> */
.card-section{
 padding: 100px 0;
}
.card-section .cards-wrapper{
    width: calc(100% + 30px);
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
}
.card-section .cards-wrapper .card{
    width: calc(33.33% - 30px);
    margin: 0 15px 15px;
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    border-radius: 10px;
    transition: 0.3s all;
    justify-content: flex-start;
}
.card-section .cards-wrapper .card:hover{
background-color: #F5F5F5;
}


.card-section .cards-wrapper .card .card-heading{
    max-width: 330px;
    margin-bottom: 16px;
    color:#172933;
}
.card-section .cards-wrapper .card p{
    color: var(--secondary-color);
    max-width: 330px;
}

.card-section .cards-wrapper .card .btn-card{
    margin-top: 20px;
}


/*---------- Gray Table card -------------------*/
.gray-card{
    background-color: #F5F5F5;
    justify-content: center!important;
}
.gray-card:hover{
    background-color: #ffffff !important;
}

.cards-wrapper .gray-card .list-main-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0;
}
.cards-wrapper .gray-card .list-main-wrapper .list-content{
    display: flex;
    align-items: center;
}
.cards-wrapper .gray-card .list-main-wrapper .list-content p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    color: #5D6F80;
}
.cards-wrapper .gray-card .list-main-wrapper .list-value{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #05213B;
}

.cards-wrapper .gray-card .list-main-wrapper .list-content .card-icon-wraper{
    width: 15px;
    height: 15px;
    margin-right: 8px;
    margin-top: -4px;
}
.cards-wrapper .gray-card .list-main-wrapper .list-content .card-icon-wraper img{
    object-fit: contain;
}

/* <!---------------- Round Card Image section ---------------> */
.round-card-section{
    background-image: url('../images/patern.png');
    background-color: #E6F2F5;
    padding: 100px 0;
}
.round-card-section .container {
    display: flex;
}
.round-card-section .container .col{
    width: 50%;
}
.round-card-section .col-left .images-col-wrapper{
    height: 470px;
    display: grid;
    grid-template-columns:50%;
    grid-template-rows: 50%;
    grid-column-gap: 12px;
    grid-row-gap: 9px;
}
.round-card-section .col-left .images-col-wrapper .item1{
    grid-area: 1 / 1 / 2 / 2;
    background-color: rebeccapurple;
    border-radius: 0px 100px;
    overflow: hidden;
}
.round-card-section  .col-left .images-col-wrapper .item2{
    grid-area: 2 / 1 / 3 / 2;
    background-color: red;
    border-radius: 100px 0px 0px 0px;
    overflow: hidden;
}
.round-card-section  .col-left .images-col-wrapper .item3{
    grid-area: 1 / 2 / 3 / 3;
    background-color: #05213B;
    border-radius: 100px 0px;
    overflow: hidden;

}
.item1 img, .item2 img, .item3 img{
    object-fit: cover;
}



/*------------- Right----------------*/
.round-card-section .container .col-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px 0 70px;
}

.round-card-section .container .col-right h2{
    max-width: 600px;
    margin-bottom: 20px;
}
.round-card-section .container .col-right .btn-video{
    margin-top: 30px;
}

/* <!----------- video section --------> */
.video-section{
    padding: 100px 0;
}
.video-section .container{
    display: flex;
    align-items: center;
}
.video-section .container .col{
    width: 50%;
}
.video-section .container .col-left {
    padding-right: 30px;
}
.video-section .container .col-left h2{
    max-width: 570px;
}
.video-section .container .col-left p{
    max-width: 600px;
}
.video-section .container .col-left p:not(:first-child){
    margin-top: 10px;
    margin-bottom: 30px;
}

/*------------------- Right Video  Column Section -----------*/
.video-section .container .col-right{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.video-section .container .col-right .right-wrapper-video{
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 20px;
    grid-template-rows: 250px 250px;
    max-width: 500px;

}
.video-section .container .col-right .right-wrapper-video .top-img-wrapper{
    grid-area: 1 / 1 / 2 / 2;
    background-color: var(--primary);
    border-radius:100px 100px 0px 0px;
    overflow: hidden;
}
.video-section .container .col-right .right-wrapper-video .bottom-img-wrapper{
    grid-area: 2 / 1 / 3 / 2;
    background-color: var(--primary);
    border-radius: 0px 0px 100px 100px;
    overflow: hidden;
}
.video-section .container .col-right .right-wrapper-video .bottom-img-wrapper img, .video-section .container .col-right .right-wrapper-video .top-img-wrapper img{
    object-fit: cover;
}


/* <!----------------------- Tregåsa Section ----------------------> */

.Treg-wrapper{
    padding: 100px 0;
    background-image: url('../images/Pattern2.png');
    background-color: #172933;
}
.Treg-wrapper .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.Treg-wrapper .container h2, .Treg-wrapper .container p{
    color: #ffffff;
} 
.Treg-wrapper .container p{
    max-width: 856px;
}
.btns-section {
    width: calc(100% + 16px);
    margin: 30px -8px -8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.btns-section .cta-btn{
    max-width: calc(100% - 16px);
    margin: 8px 8px 8px;
    display: inline-block;
}
.btns-section .cta-btn::after{
    content: '';
    width: 235px;
    max-width: 100%;
    display: block;

}

/* .btns-section a:not(:last-child){
    margin-right: 16px;
} */


/* <!-------- Footer -------> */

.footer-wrapper{
    padding: 70px 0;
    background: #E1E7EB;
}
.footer-wrapper .container{
    display: flex;
    align-items: flex-start;
    justify-content:space-between ;
}

.footer-wrapper .container .footer-left-col .footer-logo-wrapper{
    width: 214px;
    height: 82px;
}
.footer-wrapper .container .footer-left-col .footer-logo-wrapper img{
    object-fit: contain;
}
.footer-wrapper .container .footer-left-col h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 28px;
    color: #05213B;
    margin-top: 30px;
}
.footer-wrapper .container .footer-left-col .footer-left-content{
    margin-top: 20px;
}
.footer-wrapper .container .footer-left-col .footer-left-content .footer-left-col-links{
    display: flex;
    align-items:flex-start;

}
.footer-wrapper .container .footer-left-col .footer-left-content .footer-left-col-links:not(:last-child){
    margin-bottom: 8px;
}

.footer-wrapper .container .footer-left-col .footer-left-content .footer-left-col-links .footer-icon-wrapper{
    width: 14px;
    height: 18px;
    margin-right: 16px;
    margin-top: 4px;
}
.footer-wrapper .container .footer-left-col .footer-left-content .footer-left-col-links .footer-icon-wrapper img{
    object-fit: contain;
}
.footer-wrapper .container .footer-left-col .footer-left-content .footer-left-col-links p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #05213B;
    max-width: 262px;
}
.footer-wrapper .container .footer-left-col .footer-left-content .footer-left-col-links{
    transition: 0.3s all;
}
.footer-wrapper .container .footer-left-col .footer-left-content .footer-left-col-links:hover{
    opacity: 0.9
    }
    .footer-wrapper .container .footer-left-col{
        width: 32%;
    }

/*----------------Footer Right col ----------------*/
.footer-right-col{
    width: calc(100% - 32%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}
.footer-right-col .footer-right-inner p{
    max-width: 612px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    color: #05213B; 
    margin-bottom: 20px;
}
.footer-right-col .footer-right-inner .footer-right-img-wrapper{
    max-width: 582px;
    height: auto;
}
.footer-right-col .footer-right-inner .footer-right-img-wrapper img{
object-fit: cover;
}
.footer-right-col .row2{
    margin-top: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    max-width: 700px;
    width: 100%;
}
.footer-right-col .row2 .footer-INcol{
    width: 33.33%;
}

/* <!-- copy right section Footer--> */

footer .copyright-wrapper{
    padding-top: 37px;
    margin-top: 37px;
    border-top:1px solid #9eb2bda6;
   
}

