

/* <!--------------- Hero section --------------------> */
@import url('../css/base.css');


/* <!--------------- header --------------------> */
.topbar-wrapper {
    background-color: var(--secondary-color);
    padding: 2px 0;
    position: relative;
}
.topbar-wrapper .container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.topbar-wrapper .top-nav ul li{
    margin-right: 56px;
}
.topbar-wrapper .top-nav ul li a{
    color: #E1E7EB;
    text-transform: uppercase;
}
.topbar-wrapper  .btn-search-icon{
    width: 20px;
    height: 20px;
    background-image: url('../images/search-icon.svg');
    background-size: cover;
    background-position: center;
    background-color: transparent;
    border: none;
    outline: none;
    transition: 0.3s all;
    cursor: pointer;
}
.topbar-wrapper  .btn-search-icon:hover{
    opacity: 0.7;
}
.topbar-wrapper .form-wrapper{
    position: absolute;
    width: 300px;
    background-color: #FFFFFF;
    padding: 10px 16px 27px;
    top: 48px;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.45);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: none;
    z-index: 1;
}

.topbar-wrapper .form-wrapper .form-heading{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
}
.topbar-wrapper .form-wrapper p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000000;

}
/* <!--------------- Header manu --------------------> */
.mobile-menu{
    display: none;
}
.menu-section-wrapper{
    background: #FFFFFF;
    padding: 20px 0;
}
.menu-section-wrapper .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-section-wrapper .container .menu-left-col .site-logo{
    max-width: 192px;
}

/* Menu Nav*/
nav{
    display: flex;
    align-items: center;
}
.main-menu-list {
    list-style: none;
    position: relative;
}
.main-menu-list > li{
    display: inline-block;
}
.main-menu-list >li > a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #172933;
    text-transform: capitalize;
    margin-right: 56px;
    transition: 0.3s all;
    position: relative;
}
.main-menu-list >li > a:hover{
    color: var(--primary);
}
.desktop-menu{
    width: calc(100% - 200px);
}
.desktop-menu .main-menu-list > li > a > span{
    color: var(--primary);
}

.menu-btn{
    width: 200px;
    cursor: pointer;
}
/* menu list hover*/

.desktop-menu .main-menu-list >li >a:after{
    content: '';
    height: 2px;
    width: 0%;
    background-color:var(--secondary-color);
    position: absolute;
    bottom:-8px;
    left: 0;
    transition: 0.3s all;
}
.desktop-menu .main-menu-list >li >a:hover:after{
   width:100%;
}

/* Menu Dropdown*/
.drop-down{
    position: relative;
}
.dropdown-content{
    position: absolute;
    background-color: #E4F5FF;
    max-width: 373px;
    width: 100%;
    top: 69px;
    z-index: 2;
    padding-bottom: 10px;
}
.dropdown-content .dropdown-list{
    list-style: none;
}

.dropdown-content .dropdown-list li a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-decoration-line: underline;
    color: #172933;
    text-decoration: none;
    padding: 14px 45px;
    width: 100%;
    display: block;
}

.dropdown-content .dropdown-list li a:hover{
    background: #FFFFFF;
}


/* <!--------------- Hero section --------------------> */

.hero-wrapper{
    min-height: 560px;
    background-image: url('../images/hero-img.jpg');
    background-position:150px -36px;
    background-size: cover;
    overflow: hidden;
}
.hero-wrapper .container .hero-inner-wrapper{

    background-color: var(--secondary-color);
    height: 100%;
    min-height: 560px;
    width: 50%;
    display: flex;
    position: relative;
    align-items: center;
    z-index: 1;
}
.hero-wrapper .container .hero-inner-wrapper .main-heading{
    max-width: 520px;
}
.hero-wrapper .container .hero-inner-wrapper p{
    max-width: 520px;
    color: #ffffff;
    
}

.hero-wrapper .container .hero-inner-wrapper::before{
    content: '';
    width: 100vw;
    height: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    position: absolute;
    right: 0;
    z-index: -1;
}
.hero-wrapper .container .hero-inner-wrapper::after{
    content: '';
    width:130px;
    height: 140%;
    border-radius: 0 100% 100% 0;
    position: absolute;
    right: -60px;
    background-color: var(--secondary-color);
    box-shadow:22px 1px 0px 4px rgb(255 255 255 / 47%);
    z-index: -10;
}

/* <!------------- table ------------------> */

.top-table-wrapper{
    padding: 100px 0;
}


.contact-enroll-wrapper{
    background-color: var(--secondary-color);
    padding: 20px 36px;
    display: flex;
    align-items: center;
}
.contact-enroll-wrapper .content p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
    margin-right: 30px;
    max-width: 770px;
}
.contact-enroll-wrapper  .contact-enroll-btn{
    width: 288px;
}
.contact-enroll-wrapper  .contact-enroll-btn:hover{
    background-color: #E1E7EB;
    color: var(--secondary-color);
}






/* <!---------------- Snippgympa Section ------------------> */

.Snippgympa-wrapper{
    width: 100%;
    min-height: 450px;
    display:flex;
    background-color: var(--primary);
}
.Snippgympa-wrapper .col{
    width: 50%;
}
.Snippgympa-wrapper .col-left{
    background-image: url('../images/section=-banner.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.Snippgympa-wrapper .col-right{
    display: flex;
    flex-direction: column;
    padding: 30px 20px 30px 100px;
    align-items: flex-start;
    justify-content: center;
    
}
.Snippgympa-wrapper .col-right h2{
    max-width: 655px;
    margin-bottom: 14px;
}
.Snippgympa-wrapper .col-right p{
    max-width: 554px;
    line-height: 26px;
    letter-spacing: 0.1px;
}
.Snippgympa-wrapper .col-right p:not(:first-child){
    margin-top: 15px;
}

/* <!------------------ card section --------------------> */
.card-section{
 padding: 100px 0;
}
.card-section .cards-wrapper{
    width: calc(100% + 30px);
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
}
.card-section .cards-wrapper .card{
    width: calc(33.33% - 30px);
    margin: 0 15px 15px;
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    border-radius: 10px;
    transition: 0.3s all;
    justify-content: flex-start;
}
.card-section .cards-wrapper .card:hover{
background-color: #F5F5F5;
}


.card-section .cards-wrapper .card .card-heading{
    max-width: 330px;
    margin-bottom: 16px;
    color:#172933;
}
.card-section .cards-wrapper .card p{
    color: var(--secondary-color);
    max-width: 330px;
}

.card-section .cards-wrapper .card .btn-card{
    margin-top: 20px;
}


/*---------- Gray Table card -------------------*/
.gray-card{
    background-color: #F5F5F5;
    justify-content: center!important;
}
.gray-card:hover{
    background-color: #ffffff !important;
    outline: 1px solid #F5F5F5;
    box-sizing: border-box;
}

.cards-wrapper .gray-card .list-main-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0;
}
.cards-wrapper .gray-card .list-main-wrapper .list-content{
    display: flex;
    align-items: center;
}
.cards-wrapper .gray-card .list-main-wrapper .list-content p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    color: #5D6F80;
}
.cards-wrapper .gray-card .list-main-wrapper .list-value{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #05213B;
}

.cards-wrapper .gray-card .list-main-wrapper .list-content .card-icon-wraper{
    width: 15px;
    height: 15px;
    margin-right: 8px;
    margin-top: -4px;
}
.cards-wrapper .gray-card .list-main-wrapper .list-content .card-icon-wraper img{
    object-fit: contain;
}

/* <!---------------- Round Card Image section ---------------> */
.round-card-section{
    background-image: url('../images/patern.png');
    background-color: #E6F2F5;
    padding: 100px 0;
}
.round-card-section .container {
    display: flex;
}
.round-card-section .container .col{
    width: 50%;
}
.round-card-section .col-left .images-col-wrapper{
    height: 470px;
    display: grid;
    grid-template-columns:50%;
    grid-template-rows: 50%;
    grid-column-gap: 12px;
    grid-row-gap: 9px;
}
.round-card-section .col-left .images-col-wrapper .item1{
    grid-area: 1 / 1 / 2 / 2;
    background-color: rebeccapurple;
    border-radius: 0px 100px;
    overflow: hidden;
}
.round-card-section  .col-left .images-col-wrapper .item2{
    grid-area: 2 / 1 / 3 / 2;
    background-color: red;
    border-radius: 100px 0px 0px 0px;
    overflow: hidden;
}
.round-card-section  .col-left .images-col-wrapper .item3{
    grid-area: 1 / 2 / 3 / 3;
    background-color: #05213B;
    border-radius: 100px 0px;
    overflow: hidden;

}
.item1 img, .item2 img, .item3 img{
    object-fit: cover;
}



/*------------- Right----------------*/
.round-card-section .container .col-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px 0 70px;
}

.round-card-section .container .col-right h2{
    max-width: 600px;
    margin-bottom: 20px;
}
.round-card-section .container .col-right .btn-video{
    margin-top: 30px;
}

/* <!----------- video section --------> */
.video-section{
    padding: 100px 0;
}
.video-section .container{
    display: flex;
    align-items: center;
}
.video-section .container .col{
    width: 50%;
}
.video-section .container .col-left {
    padding-right: 30px;
}
.video-section .container .col-left h2{
    max-width: 570px;
}
.video-section .container .col-left p{
    max-width: 600px;
}
.video-section .container .col-left p:not(:first-child){
    margin-top: 10px;
    margin-bottom: 30px;
}

/*------------------- Right Video  Column Section -----------*/
.video-section .container .col-right{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.video-section .container .col-right .right-wrapper-video{
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 20px;
    grid-template-rows: 250px 250px;
    max-width: 500px;

}
.video-section .container .col-right .right-wrapper-video .top-img-wrapper{
    grid-area: 1 / 1 / 2 / 2;
    background-color: var(--primary);
    border-radius:100px 100px 0px 0px;
    overflow: hidden;
}
.video-section .container .col-right .right-wrapper-video .bottom-img-wrapper{
    grid-area: 2 / 1 / 3 / 2;
    background-color: var(--primary);
    border-radius: 0px 0px 100px 100px;
    overflow: hidden;
}
.video-section .container .col-right .right-wrapper-video .bottom-img-wrapper img, .video-section .container .col-right .right-wrapper-video .top-img-wrapper img{
    object-fit: cover;
}


/* <!----------------------- Tregåsa Section ----------------------> */

.Treg-wrapper{
    padding: 100px 0;
    background-image: url('../images/Pattern2.png');
    background-color: #172933;
}
.Treg-wrapper .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.Treg-wrapper .container h2, .Treg-wrapper .container p{
    color: #ffffff;
} 
.Treg-wrapper .container p{
    max-width: 856px;
}
.btns-section {
    width: calc(100% + 16px);
    margin: 30px -8px -8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.btns-section .cta-btn{
    max-width: calc(100% - 16px);
    margin: 8px 8px 8px;
    display: inline-block;
}
.btns-section .cta-btn::after{
    content: '';
    width: 235px;
    max-width: 100%;
    display: block;

}



/* <!------------ Accordines -----------> */
.accordin-section-wrapper{
    padding: 100px 0 100px 0;
    box-sizing: border-box;
    background-color: #8080800f;
}

.accordin-section-wrapper .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.faq-heading{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
    color: var(--secondary-color);
    text-align: center;
    margin-bottom: 50px;
    max-width: 540px;
    
}
.accordin-section-wrapper .container .accordin-cols-wrapper{
    display: flex;
    width: calc(100% + 30px);
    margin: 0 -15px;
}
.accordin-section-wrapper .container .col{
    width: calc(50% - 30px);
    margin: 0 15px;
}
.accordions-wrapper .accordion-item .accordion-tab-title {
	background-color:#FFFFFF;
	padding: 12px 45px 12px 20px;
	border: 0;
	position: relative;
	cursor: pointer;
    border-radius: 5px;
    color:#172933;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s all;
    position: relative;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
}
.accordions-wrapper .accordion-item .accordion-tab-title::after{
    content: '';
    width: 16px;
    height: 10px;
    background-image: url('../images/accordine-arrow.svg');
    background-repeat: no-repeat;
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
}

.accordions-wrapper .accordion-item .accordion-tab-title span {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 20px;
	width: 14px;
	height: 14px;
	display: flex;
    
}

.accordions-wrapper .accordion-item .accordion-tab-title span img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.accordions-wrapper .accordion-item .accordion-tab-title a{
	color: inherit;
	font-weight: 500;
	line-height: 1.5;
	font-size: 18px;
	text-decoration: none;
	display: inline-block;
    outline: none;
}

.accordions-wrapper .accordion-item .accordion-body {
	padding: 24px 20px;
	display: none;
}
.accordions-wrapper .accordion-item .accordion-body p{
    line-height: 28px;
    color: #798389;
}



.accordions-wrapper.accordion-icon-left .accordion-item .accordion-tab-title span {
	left: 20px;
}

.accordions-wrapper.accordion-icon-left .accordion-item .accordion-tab-title {
	padding: 12px 20px 12px 45px; 
}

/* Is active */
.accordions-wrapper .accordion-item.is-active .accordion-tab-title{
	background-color:#172933;
    box-shadow: none;
    color: #FFFFFF;
}
.accordions-wrapper .accordion-item.is-active .accordion-tab-title::after{
    background-image: url('../images/accordine-white-arrow.svg');
}

.accordions-wrapper .accordion-item.is-active .accordion-icon img {
	transform: rotate(-180deg);
}

/* Generic */
.accordions-wrapper .accordion-item:not(:last-child) {
	margin-bottom: 8px;
}

.accordions-wrapper.compact .accordion-item {
	margin-bottom: 0;
}


/* <!--------------------- Percentage Section ----------------> */

.progress-section-wrapper{
    padding: 100px 0;
}
.progress-section-wrapper .container{
    max-width: 700px;
    display: flex;
    flex-direction: column;
}

.progress-section-wrapper .container .progress-heading{
    color: #172933;
    text-align: center;
}   
.progress-wrapper .progress-bar-container{
    display: flex;
    align-items: center;
}
.progress-wrapper .progress-bar-container:not(:last-child){
    margin-bottom: 20px;
}


.progress-bar-container .left-heading{
    width: 170px;
    margin-right: 40px;
    text-align: right;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #05213B;
}
.progress-wrapper{
    margin-top: 65px;
}
.progress-container, .progress {
    background-color: #eee;
    /* border-radius: 8px; */
    position: relative;
    height: 16px;
    width: 500px;
  }
  .progress {
    background-color:#172933;
    width: 0;
    transition: width 1s linear;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

  }
  .percentage {
      position: absolute;
      top: -30px;
      left: 30px;
      transform: translateX(-50%);
      text-align: center;
      transition: left 1s linear;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 800;
      font-size: 20px;
      line-height: 20px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #05213B;
  }
 

.progress-wrapper .progress-bar-container .left-heading img{
object-fit: contain;
}

/* <!------------ bottom slider ----------> */
.bottom-slider{
    z-index: 1;
}
.bottom-slider .bottomSwiper{
    padding: 0 120px;
    position: relative;

}
.bottom-slider .bottomSwiper::after{
    content: '';
    width:100px;
    height: 100%;
    position: absolute;
    right: 0;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    z-index: 1;
    top: 0;
}
.bottom-slider .bottomSwiper::before{
    content: '';
    width:100px;
    height: 100%;
    position: absolute;
    left: 0;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    z-index: 2;
    top: 0;
}

.bottom-slider .bottomSwiper .swiper-wrapper .swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 245px;
}
.bottom-slider .bottomSwiper .swiper-wrapper .swiper-slide .inner-slider{
    width: 100%;
    height: 100%;
    position: relative;
}
.bottom-slider .bottomSwiper .swiper-wrapper .swiper-slide .inner-slider .slider-img-wrapper{
    width: 100%;
    height: 100%;
}
.bottom-slider .bottomSwiper .swiper-wrapper .swiper-slide .inner-slider .slider-img-wrapper img{
    object-fit: cover;
}
.bottom-slider .bottomSwiper .swiper-wrapper .swiper-slide .inner-slider .slider-overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    opacity: 0;
    transition: 0.5s all;
}
.bottom-slider .bottomSwiper .swiper-wrapper .swiper-slide:hover .slider-overlay{
    opacity: 1;
}

.bottom-slider .bottomSwiper .swiper-wrapper .swiper-slide .inner-slider .slider-overlay .slider-heading{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    max-width: 274px;
    transition: 0.3s all;
}
.slider-overlay .slider-heading:hover{
    text-decoration: underline solid white 1px;
}

.swiper-button-next::after, .swiper-button-prev::after{
    display: none;
}
.bottomslider-icon-wrapper{
    background-color: white;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px;
    border-radius: 50%;
    transition: 0.3s all;
}
.bottomslider-icon-wrapper:hover{
    background-color: var(--primary);
}

.bottomslider-icon-wrapper img{
    object-fit: contain;
}


/* <!-------- Footer -------> */

.footer-wrapper{
    padding: 70px 0;
    background: #E1E7EB;
}
.footer-wrapper .container{
    display: flex;
    align-items: center;
    justify-content:space-between ;
}

.footer-wrapper .container .footer-left-col .footer-logo-wrapper{
    width: 214px;
    height: 82px;
}
.footer-wrapper .container .footer-left-col .footer-logo-wrapper img{
    object-fit: contain;
}
.footer-wrapper .container .footer-left-col h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 28px;
    color: #05213B;
    margin-top: 30px;
}
.footer-wrapper .container .footer-left-col .footer-left-content{
    margin-top: 20px;
}
.footer-wrapper .container .footer-left-col .footer-left-content .footer-left-col-links{
    display: flex;
    align-items:flex-start;
}
.footer-wrapper .container .footer-left-col .footer-left-content .footer-left-col-links:not(:last-child){
    margin-bottom: 8px;
}
.footer-wrapper .container .footer-left-col .footer-left-content .footer-left-col-links .footer-icon-wrapper{
    width: 14px;
    height: 18px;
    margin-right: 16px;
    margin-top: 4px;
}
.footer-wrapper .container .footer-left-col .footer-left-content .footer-left-col-links .footer-icon-wrapper img{
    object-fit: contain;
}
.footer-wrapper .container .footer-left-col .footer-left-content .footer-left-col-links p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #05213B;
    max-width: 262px;
}
.footer-wrapper .container .footer-left-col .footer-left-content .footer-left-col-links{
    transition: 0.3s all;
}
.footer-wrapper .container .footer-left-col .footer-left-content .footer-left-col-links:hover{
    opacity: 0.9
    }
    .footer-wrapper .container .footer-left-col{
        width: 32%;
    }

/*----------------Footer Right col ----------------*/
.footer-right-col{
    width: calc(100% - 32%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}
.footer-right-col .footer-right-inner p{
    max-width: 612px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    color: #05213B; 
    margin-bottom: 20px;
}
.footer-right-col .footer-right-inner .footer-right-img-wrapper{
    max-width: 582px;
    height: auto;
}
.footer-right-col .footer-right-inner .footer-right-img-wrapper img{
object-fit: cover;
}
.footer-right-col .row2{
    margin-top: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    max-width: 700px;
    width: 100%;
}
.footer-right-col .row2 .footer-INcol{
    width: 33.33%;
}

/* <!-- copy right section Footer--> */

footer .copyright-wrapper{
    padding-top: 37px;
    margin-top: 37px;
    border-top:1px solid #9eb2bda6;
    overflow: hidden;
   
}
.copyright-links{
    margin-top: 10px;
}
.copyright-links ul li{
    display: inline-block;
    position: relative;
}
.copyright-links ul li:not(:last-child){
    margin-right: 50px;
}
.copyright-links ul li:not(:last-child)::after{
    content: '';
    width: 2px;
    height: 100%;
    background-color: var(--secondary-color);
    position: absolute;
    right: -30px;
    top: 0;
}

/*-------------- Footer Icon Column ---------------*/
.copyright-wrapper .col-right{
    display: flex;
    align-items: center;
}

.footer-icon-container:not(:last-child){
margin-right: 43px;
}
.col-right .footer-icon-container{
    position: relative;
    cursor: pointer;
}
.col-right .footer-icon-container .toolkit{
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 3px 22px;
    background-color: var(--secondary-color);
    border-radius:5px;
    opacity: 0;
    transition: 0.3s all;


    
}
.col-right .footer-icon-container .toolkit::after{
    position: absolute;
    content: '';
    top: 100%;
    left: 50%;
    transform: translate(-50%, -10%);
    border: 7px;
    border-style: solid;
    border-color: #05213B transparent transparent transparent;
}
.footer-icon-container:hover  .toolkit{
    opacity: 1;
}

.footer-icon-container:hover .footer-icon-wrapper{
    transition: 0.3s all;
}
.footer-icon-container:hover .footer-icon-wrapper{
    opacity: 0.7;
}
.col-right .footer-icon-container .footer-icon-wrapper img{
    object-fit: contain;
}
.col-right .footer-icon-container:nth-child(1)  .footer-icon-wrapper{
    width: 12px;
    height: 22px;
}
.col-right .footer-icon-container:nth-child(2)  .footer-icon-wrapper{
    width: 23px;
    height: 20px;
}
.col-right .footer-icon-container:nth-child(3)  .footer-icon-wrapper{
    width: 20px;
    height: 20px;
}
.col-right .footer-icon-container:nth-child(4)  .footer-icon-wrapper{
    width: 24px;
    height: 24px;
}
.col-right .footer-icon-container:nth-child(5)  .footer-icon-wrapper{
    width: 28px;
    height: 20px;
}


.pb-section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.pb-section .container {
  max-width: 802px;
}

.pb-section .container h2 {
  text-align: center;
}

.progress-wrap {
  margin-top: 51px;
  width: 100%;
}

.progress-bar{
    /* position: relative; */
}
.pg-value{
    position: absolute;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 20px;
    color: var(--secondary-color);
    top: -30px;
    left: 30%;
    transition:0.3s all;
}
.progress-bar:not(:first-child) {
  margin-top: 10px;
}

.progress-bar .pg-title {
  width: 31.5%;
  padding-right: 18px;
}

.progress-bar .pg-title h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-align: right;
    color: #05213B;
}
.progress-bar {
    display: flex;
    align-items: center;
}
.progress-bar:first-child{
    margin-bottom: -15px;
}
.progress-bar:not(:first-child){
    margin-top:36px;
}
.progress-bar .pg-bar {
 display: flex;
  width: 68.5%;
  background:#E1E7EB;
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  height: 16px;
  /* overflow: hidden; */
}
.progress-bar .pg-bar span {
  background-color: var(--primary);
  box-shadow: 0 10px 40px -10px var(--secondary-color);
  border-radius: 100px 100px 100px 100px;
  background: var(--secondary-color);
  height: 16px;
  width: 0;
}
.col-right .footer-icon-container:last-child .toolkit{
    left: -70%;
  
}
.col-right .footer-icon-container:last-child .toolkit::after{
    left: 80%;
}
